<h1 style="font-family: Old English Text MT">Editing Sword</h1>

<img src="https://static.thenounproject.com/png/8950-200.png">

<%= render 'form', sword: @sword %>

<h3 style="border:gold; border-width:5px; border-style:solid;">
<font size="5">
<strong>
<%= link_to 'Show', @sword %> |
<%= link_to 'Back', swords_path %>
</strong>
</font>
</h3>