<h1 style="font-family: Old English Text MT">New Sword</h1>
<img src="https://thumbs.dreamstime.com/t/smithy-icon-forge-stithy-blacksmith-symbol-flat-vector-illustration-79777286.jpg">
<br>
<%= render 'form', sword: @sword %>

<font size="5">
<strong>
<%= link_to 'Back', swords_path %>
<strong>
</font>
