<h1 style="font-family: Old English Text MT">
Oakshott Types
</h1>
<img src="https://www.albion-swords.com/articles/images/typology/typology/XV.jpg">
<img src="https://www.albion-swords.com/articles/images/typology/typology/XVI.jpg">
<img src="https://www.albion-swords.com/articles/images/typology/typology/XVII.jpg">